body{
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

img {
    max-width: 100%;
}

figure{
    margin: 0;
}

figcaption{
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}

p, a {
    font-family: Raleway;
    font-size: 12px;
    margin: 0px 0px 3px 0px;
}

h3, h4, h5{
    font-family: Raleway;
    font-weight: 700;
    margin: 10px 0px 7px 0px;
}

#logo {
    width: 67px;
    height: 30px;
}

.nav-button {
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin: 16px;
}

.nav-button:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 38px;
}

#introduction{
    padding: 16px 0px 0px 16px;
}

#search-content {
    display: flex;
    padding: 16px 0px 0px 16px;
}

#search-form {
    height: 42px;
    border: 1px solid #F2F2F2;
    border-radius: 13px;
    overflow: hidden;
}

#location-icon{
    padding: 15px;
    border-radius: 5px 0px 5px 0px;
    background-color: #F2F2F2;
}

#search-input {
    border-width: 0;
}

#search-input:focus{
    outline: none;
}

#search-input::placeholder{
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
}

#search-button {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    width: 80px;
    border-width: 0;
    background-color: #0065FC;
    cursor: pointer;
}

#search-button:hover, #search-button:active{
    background-color: #0065fcb7;
}

#filter-content{
    display: flex;
    padding: 16px 0px 0px 16px;
}

#filter-nav{
    display: flex;
    position: relative;
    bottom: 15px;
    list-style: none;
}

.filter-item{
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 30px;
    padding: 6px 6px 6px 6px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    cursor: pointer;
}

.filter-item:hover{
    transform: scale(1.1);
    background-color: #DEEBFF;
}

#money-icon, #dog-icon, #heart-icon, #person-icon{
    position: relative;
    right: 6px;
    bottom: 6px;
    color: #0065FC;
    height: 32px;
    width: 30px;
    border-radius: 20px;
    background-color: #DEEBFF;
}

.filter-item .fa-solid {
    float: left;
}

.filter-item .fa-solid::before {
    line-height: 2.5;
}

#information-icon{
    margin-right: 5px;
    color: #0065FC;
}

#information-text{
    display: flex;
    padding: 0px 0px 16px 16px;
}

.title{
    margin: 20px 0px 15px 0px;
    padding: 0px 0px 0px 16px;
}

#accommodation-content{
    display: flex;
    flex-flow: row wrap;
    margin-left: 16px;
}

#accommodation-city{
    flex-grow: 2;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 16px;
}

#accommodation-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#accommodation-nav > article {
    flex-basis: 33%;
}

.accommodation-item{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #E0DDDD;
    margin: 0px 10px 10px 16px;
    padding: 2px 0px 0px 4px;
    width: min-content;
    max-width: 180px;
    cursor: pointer;
}

.accommodation-item:hover, .popular-item:hover, .long-activity-card:hover, .medium-activity-card:hover, .small-activity-card:hover{
    background-color: #DEEBFF;
    transform: scale(1.03);
}

.accommodation-picture{
    border-radius: 10px 10px 0px 0px;
    width: 180px;
    height: 100px;
    object-fit: cover;
    margin-left: -2px;
}

#popular-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 16px;
}

#popular-head{
    display: inline-flex;
    justify-content: space-between;
}

#popular-head .fa-solid{
    position: relative;
    top: 22px;
    right: 10px;
}

.popular-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #E0DDDD;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 95px;
    padding-top: 4px;
    padding-left: 2px;
    cursor: pointer;
  }

.popular-picture{
    float: left;
    border-radius: 10px 0px 0px 10px;
    width: 110px;
    height: 95px;
    object-fit: cover;
    padding-right: 10px;
    margin-top: -2px;
}

.popular-item figcaption{
    margin-bottom: 30px;
}

#activities-content{
    padding-left: 16px;
}

#activities-nav{
    margin-left: 16px;
}

.activity-picture{
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
}

.long-activity-card{
    display: inline-block;
    flex: 1;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #E0DDDD;
    margin: 0px 16px 16px 0px;
    cursor: pointer;
    width: 10%;
}

.medium-activity-card{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #E0DDDD;
    margin: 0px 16px 16px 0px;
    cursor: pointer;
    width: 10%;
}

.small-activity-card{
    display: inline-block;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #E0DDDD;
    margin: 0px 16px 16px 0px;
    cursor: pointer;
    width: 10%;
}

footer{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    background-color: #F2F2F2;
    margin-top: 30px;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: #0065FC;
}

.footer-nav{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    list-style: none;
}

.footer-item{
    margin-top: 6px;
}