body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

figure {
    margin: 0px;
}

a {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    text-decoration: none;
}

p {
    font-family: Raleway;
    font-size: 14px;
    text-decoration: none;
}

h2,
h3,
h4,
h5 {
    font-family: Raleway;
}

#logo {
    position: relative;
    left: 5px;
    bottom: 5px;
    width: 70px;
    height: 35px;
}

.nav-button {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
}

#introduction {
    padding: 15px 0px 0px 15px;
}

#introduction h4 {
    margin-bottom: 0px;
}

#search-content {
    display: flex;
    padding: 10px 0px 0px 15px;
}

#search-form {

    border: 1px solid #F2F2F2;
    border-radius: 13px;
    height: 41px;
    overflow: hidden;
}

#location-icon {
    background-color: #F2F2F2;
    border-radius: 5px 0px 5px 0px;
    padding: 15px;
}

#search-input {
    border-width: 0px;
}

#search-button-text {
    position: relative;
    bottom: 2px;
    left: 10px;
    color: #fff;
    font-weight: 700;
    background-color: #0065FC;
    border-width: 0px;
    padding: 3px;
    height: 50px;
    cursor: pointer;
}

#search-button-icon {
    display: none;
}

#search-form .fa-magnifying-glass {
    visibility: hidden;
}

#filter-content {
    display: flex;
    align-items: center;
    padding: 10px 0px 0px 15px;
}

#filter-nav {
    display: flex;
    list-style: none;
}

.filter-item {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 30px;
    padding: 5px;
    cursor: pointer;
}

.filter-item .fa-solid {
    position: relative;
    right: 6px;
    bottom: 6px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 20px;
    height: 32px;
    width: 30px;
    float: left;
}

#information-icon {
    color: #0065FC;
    margin-right: 5px;
}

#information-text {
    padding-left: 15px;
}

.title {
    padding-left: 15px;
}

#accommodation-content {
    display: flex;
    flex-flow: row wrap;
    margin: 0px 15px 0px 15px;
}

#accommodation-city {
    flex: 1 1 65%;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 15px;
}

#accommodation-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.accommodation-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    margin: 0px 1% 18px 1%;
    padding: 4px 8px 4px 8px;
    max-width: 180px;
    cursor: pointer;
}

.accommodation-picture {
    border-radius: 10px 10px 0px 0px;
    margin-left: -4px;
    width: 180px;
    height: 100px;
    object-fit: cover;
}

.accommodation-item .hotel-information {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-information h5 {
    margin: 0px;
}

.hotel-information p {
    margin: 3px 0px 3px 0px;
}

.star-rating {
    display: inline-flex;
}

.blue-stars {
    color: #0065FC;
}

.grey-stars {
    color: #DFDDDD;
    margin-left: 4px;
}

#accommodation-show-more {
    position: relative;
    left: 5px;
    top: 10px;
    cursor: pointer;
}

#popular-content {
    flex: 1 2 30%;
    background-color: #F2F2F2;
    border-radius: 10px;
}

#popular-head {
    display: flex;
    justify-content: space-between;
}

#popular-head .fa-solid {
    position: relative;
    top: 22px;
    right: 10px;
}

.popular-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    margin: 0px 15px 30px 15px;
    height: 100px;
    padding: 4px;
    cursor: pointer;
}

.popular-picture {
    float: left;
    border-radius: 10px 0px 0px 10px;
    width: 120px;
    height: 100px;
    object-fit: cover;
    padding-right: 10px;
}

.popular-item .hotel-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#activities-content {
    padding-left: 15px;
}

#activities-nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    height: 300px;
}

.long-activity-picture {
    object-position: 40% 50%;
    border-radius: 10px 10px 0px 0px;
    width: 215px;
    height: 270px;
    filter: brightness(105%);
    object-fit: cover;
}

.medium-activity-picture {
    object-position: 50% 45%;
    border-radius: 10px 10px 0px 0px;
    width: 215px;
    height: 110px;
    filter: brightness(105%);
    object-fit: cover;
}

.small-activity-picture {
    object-position: 50% 10%;
    border-radius: 10px 10px 0px 0px;
    width: 215px;
    height: 80px;
    filter: brightness(105%);
    object-fit: cover;
}

.long-activity-card {
    flex-basis: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    max-width: 215px;
    max-height: 300px;
    cursor: pointer;
}

.medium-activity-card {
    flex-basis: 63%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    max-width: 215px;
    max-height: 140px;
    cursor: pointer;
}

.small-activity-card {
    flex-basis: 37%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    max-width: 215px;
    max-height: 130px;
    cursor: pointer;
}

#activities-nav h5 {
    position: relative;
    top: 5px;
    left: 10px;
    margin: 0px;
    padding-bottom: 10px;
}

footer {
    display: flex;
    padding-left: 5%;
    gap: 15%;
    background-color: #F2F2F2;
    margin-top: 30px;
}

footer a {
    color: black;
    text-decoration: none;
}

.footer-list {
    list-style: none;
    padding: 0px;
}

.footer-item {
    margin-top: 5px;
}

.nav-button:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 27px;
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
}

#search-button-text:hover,
#search-button-text:active {
    background-color: #0065FCB7;
}

.filter-item:hover {
    background-color: #DEEBFF;
    transform: scale(1.1);
}

.filter-item .fa-solid::before {
    line-height: 2.5;
}

a:active {
    color: #0065FC;
}

.accommodation-item:hover,
.popular-item:hover,
.long-activity-card:hover,
.medium-activity-card:hover,
.small-activity-card:hover {
    background-color: #DEEBFF;
    transform: scale(1.03);
}

#accommodation-show-more:hover,
footer a:hover {
    color: #0065FC;
}

@media screen and (min-width: 1250px) {
    .accommodation-item {
        flex: 1 1 25%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #F2F2F2;
        margin: 0px 3% 18px 3%;
        padding: 4px;
        max-width: 180px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1562px) {
    .accommodation-item {
        flex: 1 1 25%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #F2F2F2;
        margin: 0px 5% 18px 5%;
        padding: 4px;
        max-width: 180px;
        cursor: pointer;
    }
}

@media screen and (min-width: 1894px) {
    .accommodation-item {
        flex: 1 1 25%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #F2F2F2;
        margin: 0px 7% 18px 7%;
        padding: 4px;
        max-width: 180px;
        cursor: pointer;
    }
}