body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-flow: column wrap;
    padding-top: 30px;
}

figure {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    text-decoration: none;
}

p {
    font-family: Raleway;
    font-size: 14px;
    text-decoration: none;
}

h2,
h3,
h4,
h5 {
    font-family: Raleway;
}

#logo {
    position: relative;
    left: 42%;
    width: 120px;
    height: 55px;
}

#nav-menu {
    display: flex;
    flex-flow: row wrap;
}

.nav-button {
    flex: 1;
    color: black;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #f2f2f2;
    padding: 16px;
    margin: 0;
    cursor: pointer;
}

#introduction {
    padding-left: 15px;
}

#introduction h2 {
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}

#introduction p {
    font-size: 16px;
}

#search-content {
    display: flex;
    padding: 15px 0px 0px 15px;
}

#search-form {
    border: 1px solid #F2F2F2;
    border-radius: 13px;
    height: 41px;
    overflow: hidden;
}

#location-icon {
    padding: 15px;
    border-radius: 5px 0px 5px 0px;
    background-color: #F2F2F2;
}

#search-input {
    border-width: 0px;
}

#search-button-text {
    display: none;
}

#search-button-icon {
    color: #fff;
    background-color: #0065FC;
    border-width: 0px;
    height: 49px;
    width: 40px;
    cursor: pointer;
}

#search-form .fa-magnifying-glass {
    position: relative;
    bottom: 4px;
    visibility: visible;
}

#search-button p {
    visibility: collapse;
}

#filter-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 0px 15px;
}

#filter-content h3 {
    margin: 10px 0px 5px 0px;
}

#filter-nav {
    display: flex;
    flex-flow: row wrap;
    padding-left: 10px;
    list-style: none;
}

.filter-item {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0px 30px 15px 0px;
    padding: 5px;
    transform: scale(1.15);
    cursor: pointer;
}

.filter-item .fa-solid {
    position: relative;
    right: 6px;
    bottom: 6px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 20px;
    height: 32px;
    width: 30px;
    float: left;
}

#information-icon {
    color: #0065FC;
    margin-right: 5px;
}

#information-text {
    padding-left: 15px;
}

.title {
    padding-left: 10px;
}

#accommodation-content {
    display: flex;
    flex-flow: column wrap;
}

#accommodation-city {
    display: flex;
    flex-flow: column wrap;
    order: 2;
    background-color: white;
    border-radius: 0px;
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

#accommodation-nav {
    align-self: center;
}

.accommodation-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    margin: 0px 10px 20px 10px;
    padding: 4px;
    cursor: pointer;
}

.accommodation-picture {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 100px;
    object-fit: cover;
}

.hotel-information {
    margin-left: 5px;
}

.hotel-information h5 {
    margin: 0px;
}

.hotel-information p {
    margin: 3px 0px 3px 0px;
}

.star-rating {
    display: inline-flex;
}

.blue-stars {
    color: #0065FC;
}

.grey-stars {
    color: #DFDDDD;
    margin-left: 4px;
}

#accommodation-show-more {
    position: relative;
    right: 20%;
    bottom: 30px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
    cursor: pointer;
}

#popular-content {
    display: flex;
    flex-flow: column wrap;
    order: 1;
    background-color: #F2F2F2;
    border-radius: 0px;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}

#popular-head {
    display: inline-flex;
    justify-content: space-between;
}

#popular-head .fa-solid {
    position: relative;
    top: 22px;
    right: 10px;
}

.popular-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    padding: 4px;
    height: 100px;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
}

.popular-picture {
    float: left;
    border-radius: 10px 0px 0px 10px;
    padding-right: 10px;
    width: 110px;
    height: 100px;
    object-fit: cover;
}

.popular-item .hotel-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#activities-content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#activities-nav {
    align-self: center;
}

.long-activity-picture,
.medium-activity-picture,
.small-activity-picture {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 130px;
    object-fit: cover;
}

.long-activity-card,
.medium-activity-card,
.small-activity-card {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    padding: 0px 0px 15px 0px;
    margin: 0px 10px 25px 10px;
    cursor: pointer;
}

.long-activity-card h5,
.medium-activity-card h5,
.small-activity-card h5 {
    position: relative;
    left: 15px;
    top: 10px;
    margin: 0px 0px 5px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: #F2F2F2;
    margin-top: 30px;
    padding-left: 30px;
}

footer a {
    color: black;
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
}

.footer-list {
    list-style: none;
    padding: 0px;
}

.footer-item {
    margin-top: 6px;
}

.nav-button:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
}

#search-button-icon:hover,
#search-button-icon:active {
    background-color: #0065FCB7;
}


.filter-item:hover {
    transform: scale(1.2);
    background-color: #DEEBFF;
}

.filter-item .fa-solid::before {
    line-height: 2.5;
}

li:active{
    color: #0065FC;
}

a:active {
    color: #0065FC;
}

.accommodation-item:hover,
.popular-item:hover,
.long-activity-card:hover,
.medium-activity-card:hover,
.small-activity-card:hover {
    background-color: #DEEBFF;
    transform: scale(1.01);
}

#accommodation-show-more:hover,
footer a:hover {
    color: #0065FC;
}