body {
    margin: 0px;
}

main {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-flow: column wrap;
    padding-top: 32px;
}

img {
    max-width: 100%;
}

figure {
    margin: 0px;
    padding: 0px;
}

figcaption {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 5px;
}

p,
a {
    font-family: Raleway;
    font-size: 14px;
}

h3,
h4,
h5 {
    font-family: Raleway;
    font-weight: 700;
}

#logo {
    position: relative;
    left: 42%;
    width: 120px;
    height: 55px;
}

#nav-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.nav-button {
    color: black;
    font-size: 18px;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #f2f2f2;
    flex: 1;
    text-align: center;
    margin: 0;
}

#introduction {
    padding: 0px 0px 0px 16px;
}

#introduction h4 {
    font-size: 22px;
    margin-bottom: 9px;
}

#introduction p {
    font-size: 16px;
}

#search-content {
    display: flex;
    padding: 16px 0px 0px 18px;
}

#search-form {
    height: 41px;
    border: 1px solid #F2F2F2;
    border-radius: 13px;
    overflow: hidden;
}

#location-icon {
    padding: 16px;
    border-radius: 5px 0px 5px 0px;
    background-color: #F2F2F2;
}

#search-input {
    border-width: 0px;
}

#search-button-text{
    display: none;
}

#search-button-icon{
    color: #fff;
    font-weight: bold;
    height: 48px;
    width: 40px;
    border-width: 0px;
    background-color: #0065FC;
    cursor: pointer;
}

#search-form .fa-magnifying-glass {
    position: relative;
    bottom: 4px;
    visibility: visible;
}

#search-button p {
    visibility: collapse;
}

#filter-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px 0px 16px;
}

#filter-content h3 {
    margin: 9px 0px 5px 0px;
}

#filter-nav {
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    list-style: none;

}

.filter-item {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0px 30px 15px 0px;
    padding: 6px 6px 6px 6px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1.1);
}

.filter-item .fa-solid {
    position: relative;
    right: 6px;
    bottom: 6px;
    color: #0065FC;
    height: 32px;
    width: 30px;
    border-radius: 20px;
    background-color: #DEEBFF;
    float: left;
}

#information-icon {
    margin-right: 5px;
    color: #0065FC;
}

#information-text {
    padding: 0px 0px 0px 16px;
}

.title {
    padding: 0px 0px 0px 10px;
}

#accommodation-content {
    display: flex;
    flex-flow: column wrap;
}

#accommodation-city {
    display: flex;
    flex-flow: column wrap;
    order: 2;
    margin: 0px;
    padding-left: 9px;
    border-radius: 0px;
    background-color: white;
}

#accommodation-nav {
    flex: 1;
    flex-flow: column wrap;
    align-self: center;
}

.accommodation-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #F2F2F2;
    margin: 0px 10px 20px 16px;
    padding: 4px;
    width: max-content;
    max-width: max-content;
    cursor: pointer;
}

.accommodation-picture {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 100px;
    object-fit: cover;
}

.hotel-information {
    display: flex;
    flex-flow: column wrap;
    margin-left: 6px;
}

.hotel-information h5{
    margin: 0px;
}

.hotel-information p{
    margin: 1px 0px 2px 0px;
}

#accommodation-show-more {
    position: relative;
    left: 200px;
    bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}

#popular-content {
    display: flex;
    flex-flow: column wrap;
    background-color: #F2F2F2;
    order: 1;
    padding: 0px 9px 0px 9px;
    border-radius: 0px;
    margin: 0px;
}

#popular-head {
    display: inline-flex;
    justify-content: space-between;
}

#popular-head .fa-solid {
    position: relative;
    top: 22px;
    right: 10px;
}

.popular-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #F2F2F2;
    margin: 0px 10px 10px 10px;
    height: 100px;
    padding: 4px;
    cursor: pointer;
}

.popular-picture {
    float: left;
    border-radius: 10px 0px 0px 10px;
    width: 110px;
    height: 100px;
    object-fit: cover;
    padding-right: 10px;
}

.popular-item .hotel-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 3px;
}

#activities-content {
    display: flex;
    flex-direction: column;
    padding-left: 9px;
}

#activities-nav {
    align-self: center;
}

.long-activity-picture,
.medium-activity-picture,
.small-activity-picture {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    height: 130px;
    object-fit: cover;
}

.long-activity-card,
.medium-activity-card,
.small-activity-card {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 3px 3px #F2F2F2;
    padding: 0px 0px 15px 0px;
    margin: 0px 10px 20px 16px;
    width: max-content;
    max-width: max-content;
    cursor: pointer;
}

.long-activity-card h5,
.medium-activity-card h5,
.small-activity-card h5{
    position: relative;
    left: 12px;
    top: 1px;
    margin: 10px 0px 0px 0px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: #F2F2F2;
    margin-top: 30px;
    padding-left: 30px;
}

footer a {
    color: black;
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
}

.footer-list{
    list-style: none;
    padding: 0px;
}

.footer-item {
    margin-top: 6px;
}

.nav-button:hover {
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
}

#search-button-icon:hover,
#search-button-icon:active {
    background-color: #0065FCB7;
}


.filter-item:hover {
    transform: scale(1.15);
    background-color: #DEEBFF;
}

.filter-item .fa-solid::before {
    line-height: 2.5;
}

.accommodation-item:hover,
.popular-item:hover,
.long-activity-card:hover,
.medium-activity-card:hover,
.small-activity-card:hover {
    background-color: #DEEBFF;
    transform: scale(1.01);
}

#accommodation-show-more:hover, footer a:hover {
    color: #0065FC;
}