/*Erase the body's margin to fully extend the footer*/
body {
    margin: 0px;
}

/*Use flex to horizontally align the navigation links and the logo*/
header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

/*Erase the figure's margin to not influence the images positioning*/
figure {
    margin: 0px;
}

a {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    text-decoration: none;
}

p {
    font-family: Raleway;
    font-size: 14px;
    text-decoration: none;
}

h2,
h3,
h4,
h5 {
    font-family: Raleway;
}

/*Re-size and position BOOKI's logo*/
#logo {
    position: relative;
    left: 5px;
    bottom: 5px;
    width: 65px;
    height: 30px;
}

/*Use margin to adjust the space between the navigation links and also the screen's edge*/
.nav-button {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
}

#introduction {
    padding: 15px 0px 0px 15px;
}

#introduction h2 {
    margin-bottom: 0px;
}

#introduction p {
    margin-top: 5px;
}

#search-content {
    display: flex;
    padding: 10px 0px 0px 16px;
}

#search-form {
    border: 1px solid #F2F2F2;
    border-radius: 13px;
    width: max-content;
}

#location-icon {
    padding: 15px;
    border-radius: 13px 0px 0px 13px;
    background-color: #F2F2F2;
}

#search-input {
    background: none;
    border-width: 0px;
    padding: 15px;
    margin: 0;
    flex: 1;
}

/*Style search bar button*/
#search-button {
    color: #fff;
    background-color: #0065FC;
    border-radius: 13px;
    border-width: 0px;
    padding: 15px;
    cursor: pointer;
}

/*Hide the search button with the text*/
#search-text {
    display: none;
}

/*Use flex to horizontally align and center the text and the filter's items*/
#filter-content {
    display: flex;
    align-items: center;
    padding: 10px 0px 0px 10px;
}

/*Erase the list tag style and use flex to align horizontally and not vertically the filter's items*/
#filter-nav {
    display: flex;
    list-style: none;
}

/*Style the filter's item style*/
.filter-item {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 30px;
    padding: 5px;
    transform: scale(1.1);
    cursor: pointer;
}

.filter-name{
    padding: 5px;
}

/*Position, re-size and style the filter's items icons and their background*/
.filter-item .fa-solid {
    position: relative;
    right: 6px;
    bottom: 6px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 20px;
    height: 32px;
    width: 30px;
    /*Put image left of the text*/
    float: left;
}

#information-text {
    display: inline-flex;
    width: 350px;
    padding-left: 15px;
}

/*Position and style information icon */
.fa-circle-info{
    position: relative;
    top: 13px;
    color: #0065FC;
    margin-right: 5px;
}

.title {
    padding-left: 15px;
}

/*Use display to align horizontally both the two elements of 'Accommodation' and 'Most popular'*/
#accommodation-content {
    display: flex;
    margin: 0px 15px 0px 15px;
}

/*Use flex to let this element take 65% of the width of the screen*/
#accommodation-city {
    flex: 1 1 65%;
    background-color: #F2F2F2;
    border-radius: 10px;
    /*Add some space with the most popular element*/
    margin-right: 15px;
}

/*Use display to align horizontally and space evenly the accommodations room cards*/
#accommodation-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/*Styling of the accommodations and most popular room cards with limited width for picture*/
.accommodation-item,
.popular-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    margin-bottom: 10px;
    padding: 4px;
    max-width: 210px;
    cursor: pointer;
}

/*Styling of the accommodations and most popular room's image*/
.accommodation-picture,
.popular-picture {
    border-radius: 10px 10px 0px 0px;
    width: 210px;
    height: 105px;
    /*Re-size image to fit its container*/
    object-fit: cover;
}

/*Align vertically and space the information of the accommodation room*/
.hotel-information {
    display: flex;
    flex-flow: column wrap;
    margin-left: 3px;
}

.hotel-information h5 {
    margin: 0px;
}

.hotel-information p {
    margin: 5px 0px 5px 0px;
}

/*Use inline-flex to align grey stars with blue stars*/
.star-rating {
    display: inline-flex;
}

.blue-stars {
    color: #0065FC;
}

.grey-stars {
    color: #DFDDDD;
    margin-left: 4px;
}

/*Position 'Show more' button*/
#accommodation-show-more {
    position: relative;
    left: 5px;
    top: 10px;
    cursor: pointer;
}

/*Use flex to let this element take 33% of the width of the screen and display to align vertically its content*/
#popular-content {
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 0px 15px 0px 15px;
}

/*Align horizontally the container title and the back stars while spacing them at each end of the container*/
#popular-head {
    display: inline-flex;
    justify-content: space-between;
}

/*Style and position the black star icon*/
#popular-head .fa-solid {
    color: black;
    position: relative;
    top: 22px;
    right: 10px;
}

/*Center most popular room cards*/
#popular-nav {
    align-self: center;
}

/*Align horizontally activities items before evenly spacing them and adding a gap*/
#activities-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 3%;
}

/*Style the activities' image who are inside the containers*/
.long-activity-picture,
.medium-activity-picture,
.small-activity-picture {
    border-radius: 10px 10px 0px 0px;
    width: 235px;
    height: 150px;
    object-fit: cover;
}

/*Style the activities' containers*/
.long-activity-card,
.medium-activity-card,
.small-activity-card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    margin-bottom: 20px;
    cursor: pointer;
}

/*Position activities cards' name while adding some white space with the padding*/
.long-activity-card h5,
.medium-activity-card h5,
.small-activity-card h5 {
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding-bottom: 10px;
}

/*Align horizontally footer's elements before evenly spacing them*/
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    margin-top: 30px;
}

footer a {
    color: black;
    text-decoration: none;
}

/*Erase list style and also padding so that the links below are vertically aligned*/
.footer-list {
    list-style: none;
    padding: 0px;
}

.footer-item {
    margin-top: 5px;
}

/*Change navigation link color and add a blue line when we hover on them*/
.nav-button:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 27px;
}

/*Don't let outline appears when we write on the search bar*/
#search-input:focus {
    outline: none;
}

/*Style search bar placeholder*/
#search-input::placeholder {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
}

/*Change the search button background color and icon color when we hover on it*/
#search-button:hover {
    background-color: #0065FCB7;
}

/*Change the search button background color and icon color when we click on it*/
#search-button:active {
    background-color: #0065FCB7;
    color: #0065FC;
}

/*Change the filter's items background color and increase their size when we hover on it*/
.filter-item:hover {
    background-color: #DEEBFF;
    transform: scale(1.1);
}

/*Change the filter's items text color, its background color and increase their size when we click on it*/
.filter-item:active {
    color: #0065FC;
    background-color: #DEEBFF;
    transform: scale(1.1);
}

.filter-item .fa-solid::before {
    line-height: 2.5;
}

/*Change links color when we click on them (specially made for hotel information and activities cards' titles)*/
a:active {
    color: #0065FC;
}

/*Change the different cards background color and increase their size when we hover on them*/
.accommodation-item:hover,
.popular-item:hover,
.long-activity-card:hover,
.medium-activity-card:hover,
.small-activity-card:hover {
    background-color: #DEEBFF;
    transform: scale(1.03);
}

/*Change the color of show more button and footer's links when we hover on them*/
#accommodation-show-more:hover,
footer a:hover {
    color: #0065FC;
}