body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

figure {
    margin: 0px;
}

a {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    text-decoration: none;
}

p {
    font-family: Raleway;
    font-size: 14px;
    text-decoration: none;
}

h2,
h3,
h4,
h5 {
    font-family: Raleway;
}

#logo {
    position: relative;
    left: 5px;
    bottom: 5px;
    width: 65px;
    height: 30px;
}

.nav-button {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 15px;
}

#introduction {
    padding: 15px 0px 0px 15px;
}

#introduction h4 {
    margin-bottom: 0px;
}

#search-content {
    display: flex;
    padding: 10px 0px 0px 16px;
}

#search-form {
    border: 1px solid #F2F2F2;
    border-radius: 13px;
    height: 41px;
    overflow: hidden;
}

#location-icon {
    border-radius: 5px 0px 5px 0px;
    background-color: #F2F2F2;
    padding: 15px;
}

#search-input {
    border-width: 0px;
}

#search-button-text {
    display: none;
}

#search-button-icon {
    color: #fff;
    border-width: 0px;
    background-color: #0065FC;
    height: 49px;
    width: 40px;
    cursor: pointer;
}

#search-form .fa-magnifying-glass {
    position: relative;
    bottom: 4px;
    visibility: visible;
}

#search-button p {
    visibility: collapse;
}

#filter-content {
    display: flex;
    align-items: center;
    padding: 10px 0px 0px 15px;
}

#filter-nav {
    display: flex;
    list-style: none;
}

.filter-item {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 30px;
    padding: 5px;
    cursor: pointer;
}

.filter-item .fa-solid {
    position: relative;
    right: 6px;
    bottom: 6px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 20px;
    height: 32px;
    width: 30px;
    float: left;
}

#information-icon {
    color: #0065FC;
    margin-right: 5px;
}

#information-text {
    padding-left: 15px;
}

.title {
    padding-left: 15px;
}

#accommodation-content {
    display: flex;
    margin: 0px 15px 0px 15px;
}

#accommodation-city {
    flex: 1 1 66%;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 15px;
}

#accommodation-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.accommodation-item,
.popular-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    margin: 0px 5px 10px 5px;
    padding: 4px;
    max-width: 210px;
    cursor: pointer;
}

.accommodation-picture,
.popular-picture {
    border-radius: 10px 10px 0px 0px;
    width: 210px;
    height: 105px;
    object-fit: cover;
}

.hotel-information {
    display: flex;
    flex-flow: column wrap;
    margin-left: 3px;
}

.hotel-information h5 {
    margin: 0px;
}

.hotel-information p {
    margin: 3px 0px 3px 0px;
}

.star-rating {
    display: inline-flex;
}

.blue-stars {
    color: #0065FC;
}

.grey-stars {
    color: #DFDDDD;
    margin-left: 4px;
}

#accommodation-show-more {
    position: relative;
    left: 5px;
    top: 10px;
    cursor: pointer;
}

#popular-content {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 0px 15px 0px 15px;
}

#popular-head {
    display: inline-flex;
    justify-content: space-between;
}

#popular-head .fa-solid {
    position: relative;
    top: 22px;
    right: 10px;
}

#popular-content {
    flex: 1 1 33%;
    margin: 0px;
}

#popular-nav {
    align-self: center;
}

#activities-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 3%;
}

.long-activity-picture,
.medium-activity-picture,
.small-activity-picture {
    border-radius: 10px 10px 0px 0px;
    width: 235px;
    height: 150px;
    object-fit: cover;
}

.long-activity-card,
.medium-activity-card,
.small-activity-card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #F2F2F2;
    margin-bottom: 20px;
    cursor: pointer;
}

.long-activity-card h5,
.medium-activity-card h5,
.small-activity-card h5 {
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    margin-top: 30px;
}

footer a {
    color: black;
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
}

.footer-list {
    list-style: none;
    padding: 0px;
}

.footer-item {
    margin-top: 5px;
    padding: 0px;
}

.nav-button:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 27px;
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    color: black;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
}

#search-button-icon:hover,
#search-button-icon:active {
    background-color: #0065FCB7;
}

.filter-item:hover {
    transform: scale(1.1);
    background-color: #DEEBFF;
}

.filter-item .fa-solid::before {
    line-height: 2.5;
}

a:active {
    color: #0065FC;
}

.accommodation-item:hover,
.popular-item:hover,
.long-activity-card:hover,
.medium-activity-card:hover,
.small-activity-card:hover {
    background-color: #DEEBFF;
    transform: scale(1.03);
}

#accommodation-show-more:hover,
footer a:hover {
    color: #0065FC;
}